.App {
  text-align: center;
}

body {
  font-family: sans-serif;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width:300px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.no-options {
  color: #999;
  padding: 0.5rem;
}

.options {
  margin: auto;
  border: 1px solid #999;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow:hidden; 
  overflow-y:scroll;  
  padding-left: 0;
  width: calc(300px + 1rem);
}

.options li {
  padding: 0.5rem;
  align-items: center;
}

.option-active,
.options li:hover {
  background-color: #444645 !important;
  color: #f6fbfc;
  cursor: pointer;
  font-weight: 700;
}

.option-selected{
  background-color: rgb(6, 110, 37);
  color: #f6fbfc;
  cursor: pointer;
  font-weight: 700;

}

.options li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.display li {
  list-style: none;
  padding: 0.5rem;
}

.del-button{
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background-color:transparent;
  background-image: url('./img/delete.png');
  background-size: 20px 20px;
  border: none;
}

.valid-button {
  background-color: #066e25; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.valid-button:hover{
  background-color: rgba(6, 110, 37, 0.8);
  padding: 17px 35px; 
}